<div>最小反應間隔1秒鐘: X Client 相加: {{ x }}</div>
<div>
    <button (click)="docObservableEX1()">Doc Observable 1</button>
</div>
<div>
    <button (click)="docObservableEX2()">Doc Observable 2</button>
</div>
<div>
    <button (click)="docObservableEX3()">Doc Observable 3</button>
</div>
<div>
    <button (click)="docObserverEX1()">Doc Observer 1</button>
</div>
<div>
    <button (click)="docOperatorEX1()">Doc Operator 1</button>
</div>
<div>
    <button (click)="docOperatorEX2()">Doc Operator 2</button>
</div>
<div>
    <button (click)="docOperatorEX3()">Doc Operator 3</button>
</div>
<div>
    <button (click)="docOperatorEX4()">Doc Operator 4</button>
</div>