.terminal-wrapper {
    width: 80%;
    max-width: 600px;
    @media screen and (max-width: 767px) {
        width: 100%;
    }
}
.l-app {
    max-width: 960px;
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
}