.terminal-wrapper {
    width: 80%;
    max-width: 600px;
    @media screen and (max-width: 767px) {
        width: 100%;
    }
}
.l-app {
    max-width: 960px;
    margin: auto;
    &__header{
        display: flex;
        justify-content: center;
    }
    
    &__breadCrumb {
        display: flex;
        justify-content: center;
    }

    &__breadCrumbList {
        display: flex;
        justify-content: center;
        li {
            list-style: none;
        }
    }
}