<div class="p-auth">
    <div class="p-auth__status">
        <h2>
            Authroized: {{authorized}}
        </h2>
    </div>
    <div>
        <button *ngIf="authorized" (click)="logOut()">
            Log Out
        </button>
        <button *ngIf="!authorized" (click)="logIn()">
            Log In
        </button>
    </div>
    <nav class="m-breadCrumb">
        <ul class="m-breadCrumb__list">
          <li>
            <a routerLink="a" routerLinkActive="active" ariaCurrentWhenActive="page">a</a>
          </li>
          /
          <li>
            <a routerLink="b" routerLinkActive="active" ariaCurrentWhenActive="page">b</a>
          </li>
      </ul>
    </nav>
    <div>defaultDataFromRouteConfig: {{defaultDataFromRouteConfig}}</div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>
